.logo {
    max-width: 148px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-items{
    display: flex;
    margin: 0 0 0 70%;
    padding: 2% 0;
    gap: 10%;
    align-items: center;
    justify-content: space-between;
}

.menu-items li a{
    font-size: 14px;
}

.menu-items li a:hover{
    color: #37cb9c;
}
