.logo-white {
    max-width: 148px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-items{
    display: flex;
    gap: 10%;
    margin-left: 39%;
}

.menu-items li{
    font-size: 14px;
    color: #333333;
}